@media screen and (min-width: 320px) and (max-width: 736px) {
    .wrapper,
    .header {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1 / 5;
        column-gap: 24px;
    }

    .popup {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
    }

    .popup__window {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        grid-column-end: 4;
    }

    .popup__window-header__logo {
        grid-column: 1 / 3;
    }

    .popup_close_ico {
        grid-column: 4;
    }

    .popup__window-fio {
        grid-column: 1 / 3;
    }

    .popup__window-description {
        grid-column: 1 / 3;
    }

    .popup__window-number {
        grid-column: 1 / 3;
    }

    .popup__window-social_network {
        grid-column: 1 / 3;
    }

    .header__menu {
        grid-column: 4;
    }

    .page {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        grid-column: 1 / 5;
    }

    .wrapper-sidebar {
        grid-column: 1;
        word-break: break-word;
    }

    .sidebar {
        grid-template-rows: repeat(5, 40px);
        align-items: stretch;
    }

    .sidebar a {
        transform: rotate(-180deg);
        transition: transform 0.5s ease, opacity 0.5s;
        opacity: 0;
    }

    .sidebar.open a {
        transform: rotate(0deg);
        opacity: 1;
    }

    .burger-btn {
        display: block;
    }

    .content {
        grid-column: 2 / 5;
    }

    .content__grid__desktop,
    .content__grid__tablet,
    .content__grid__phone {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 24px 100px 100px 1fr;
        column-gap: 24px;
        grid-column: 1 / 4;
    }

    .content__grid__desktop-title,
    .content__grid__tablet-title,
    .content__grid__phone-title {
        justify-self: start;
    }

    .content__grid__desktop-content,
    .content__grid__tablet-content,
    .content__grid__phone-content {
        grid-column: 1;
    }

    .content__grid__desktop-content > h2,
    .content__grid__tablet-content > h2,
    .content__grid__phone-content > h2 {
        font-size: 20px;
    }

    .content__grid__desktop-columns,
    .content__grid__tablet-columns,
    .content__grid__phone-columns {
        grid-column: 2;
    }

    .content__grid__desktop-columns > h2,
    .content__grid__tablet-columns > h2,
    .content__grid__phone-columns > h2 {
        font-size: 20px;
    }

    .content__grid__desktop-width,
    .content__grid__tablet-width,
    .content__grid__phone-width {
        grid-column: 1;
        grid-row: 3;
    }

    .content__grid__desktop-width > h2,
    .content__grid__tablet-width > h2,
    .content__grid__phone-width > h2 {
        font-size: 20px;
    }

    .content__grid__desktop-intercolumn,
    .content__grid__tablet-intercolumn,
    .content__grid__phone-intercolumn {
        grid-column: 2 / 3;
        grid-row: 3;
    }

    .content__grid__desktop-intercolumn > h2,
    .content__grid__tablet-intercolumn > h2,
    .content__grid__phone-intercolumn > h2 {
        font-size: 20px;
    }

    .content__grid__desktop-intercolumn > p,
    .content__grid__tablet-intercolumn > p,
    .content__grid__phone-intercolumn > p {
        word-break: break-word;
    }

    .content__grid__desktop-img,
    .content__grid__tablet-img,
    .content__grid__phone-img {
        grid-column: 1 / 4;
    }

    .tabs__nav {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }

    .tabs__item-title {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }

    .tabs__item-title > p {
        grid-column: 1;
    }

    .tabs__item-title > h1 {
        grid-column: 2 / 4;
    }

    .content__ui__text_field {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        grid-template-rows: repeat(8, 1fr);
    }

    .text_field__email-main {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .text_field__title-hover {
        grid-column: 1;
        grid-row: 3;
    }

    .text_field__email-hover {
        grid-column: 1 / 4;
        grid-row: 4;
    }

    .text_field__title-enter {
        grid-column: 1;
        grid-row: 5;
    }

    .text_field__email-enter {
        grid-column: 1 / 4;
        grid-row: 6;
    }

    .text_field__title-error {
        grid-column: 1;
        grid-row: 7;
    }

    .text_field__email-mistake {
        margin-top: 27px;
        grid-column: 1 / 4;
        grid-row: 8;
    }

    .select__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        grid-template-rows: repeat(3, 1fr);
    }

    .select-main {
        grid-row: 1 / 4;
    }

    .select-hover {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .select-enter {
        grid-column: 1 / 4;
        grid-row: 3;
    }

    .button__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        grid-template-rows: repeat(7, 1fr);
        align-items: center;
    }

    .button-main {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .button__title-hover {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .button-hover {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .button__title-pressing {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .button-pressing {
        grid-column: 1 / 3;
        grid-row: 5;
    }

    .button__title-inactive {
        grid-column: 1 / 3;
        grid-row: 6;
    }

    .button-inactive {
        grid-column: 1 / 3;
        grid-row: 7;
    }

    .checkbox-and-radio_button__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px;
    }

    .checkbox-all {
        grid-column: 1 / 4;
    }

    .radio_button-all {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .accordion__grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }

    .accordion-main {
        grid-column: 1 / 4;
    }

    .accordion-main_content {
        grid-column: 1 / 4;
    }

    .accordion-arrow-main {
        grid-column: 3;
    }

    .accordion-hover {
        grid-column: 1 / 4;
    }

    .accordion-arrow-hover {
        grid-column: 3;
    }

    .accordion-active {
        grid-column: 1 / 4;
    }

    .accordion-arrow-active {
        grid-column: 3;
    }

    .accordion-active_content {
        grid-column: 1 / 4;
    }

    .victory {
        grid-column: 1 / 5;
    }
}
